$fadeColor: rgba(0, 0, 0, .3);
$orange: #E64A19;
$orangeFilter: invert(40%) sepia(92%) saturate(3964%) hue-rotate(354deg) brightness(95%) contrast(89%);
$grey: #212121;
$whiteFilter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);